body{
    background-color: ghostwhite;
}
.holder{
    margin: 20px 100px 20px 100px;
    background-color: white;
    /*margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;*/

}