body {
    background-color: ghostwhite;
}

.header {
    margin-top: 20px;
    background-color: #ffa005;
    font-size: xx-large;
    text-align: left;
    height:40px;
}
.selectors{
    padding-top: 10px;
    margin-top: 20px;
    background-color: #ffa005;
    text-align: right;
    height:40px;
}

.footer {
    margin-top: 2px;
    height: 5px;
    background-color: #ffa005;
}

.stream {
    margin-top: 2px;
}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-margin {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.stream-icon {
    padding: 5px 0 5px 0;
    background-color: #6db3ff;
    font-size: medium;
}

.stream-icon img {
    border-radius: 50%;
    margin-left: 30px;
}

.stream-name {
    background-color: #6db3ff;
    font-size: inherit;
    text-align: center;
    height: 50px;
    padding-top: 15px;
}

.stream-status {
    background-color: #6db3ff;
    font-size: inherit;
    text-align: center;
    height: 50px;
    padding-top: 15px;
}